@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#bg-public {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.appContainer {
  background-color: #ededed;
  min-height: 100vh;
  height: 100vh;

  /* background-image: url('../src/assets/img/bg.jpg'); */
}

.textFont {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-top: 2%;
}

.textFontPublic {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.textFontBottomNav {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 11px;
}

.textFontNav {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 15px;
}

.textFontButton {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.textFontBig {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-top: auto;
  text-align: center;
}

.textFontHeader {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-left: 20px;
}

.textFontXL {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 50px;
}
.textFontXL2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

.textFontHeaderSmall {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

.componentContainer {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.center {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#rounded {
  background: rgb(65, 64, 64);

  -webkit-box-shadow: 2px 8px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 8px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
