node_modules/

/tyngreninja-41171be7dd62.json
/tyngreninja-41171be7dd62.json.
.tyngreninja-41171be7dd62.json
./Users/carleinarsson/Documents/Projekt/tyngre_ninja/client/functions/tyngreninja-41171be7dd62.json
.client/functions/tyngreninja-41171be7dd62.json
/client/functions/tyngreninja-41171be7dd62.json